In [8]:
# importing sqlite
import sqlite3
#connecting with the database.
db = sqlite3.connect("company_database2.db")

In [9]:
c = db.cursor()

In [10]:
# Create table
c.execute('CREATE TABLE company1(ID int, Name text, Age int, Address text, Salary real)')

In [11]:
# Insert a row of data only by providing values
c.execute("INSERT INTO company1 VALUES (1, 'Jhon', 32, 'Bangalore', 100000.00)")
c.execute("INSERT INTO company1 VALUES (2, 'Jhon', 32, 'Bangalore', 100000.00)")

In [12]:
data=c.execute("SELECT * FROM company1")

In [13]:
data

In [14]:
for i in data:
    print(i)

(1, 'Jhon', 32, 'Bangalore', 100000.0)
(2, 'Jhon', 32, 'Bangalore', 100000.0)

In [16]:
# Insert a row of data
c.execute("INSERT INTO company1 (ID, Name, Age, Address, Salary) VALUES (3, 'Venkat', 42, 'Chennai', 400000.00)")

c.execute("INSERT INTO company1 (ID, Name, Age, Address, Salary) VALUES (4, 'Raju', 31, 'Madurai', 400000.00)")

c.execute("INSERT INTO company1 (ID, Name, Age, Address, Salary) VALUES (5, 'Ankit', 25, 'Bangalore', 800000.00)")

c.execute("INSERT INTO company1 (ID, Name, Age, Address, Salary) VALUES (6, 'Ravi', 25, 'Bangalore', 800000.00)")

c.execute("INSERT INTO company1 (ID, Name, Age, Address, Salary) VALUES (7, 'Shivam', 25, 'Bangalore', 800000.00)")

In [19]:
data=c.execute("SELECT * FROM company1")
for i in data:
    print(i)

(1, 'Jhon', 32, 'Bangalore', 100000.0)
(2, 'Jhon', 32, 'Bangalore', 100000.0)
(3, 'Venkat', 42, 'Chennai', 400000.0)
(4, 'Raju', 31, 'Madurai', 400000.0)
(5, 'Ankit', 25, 'Bangalore', 800000.0)
(6, 'Ravi', 25, 'Bangalore', 800000.0)
(7, 'Shivam', 25, 'Bangalore', 800000.0)

In [20]:
# Save (commit) the changes
db.commit()

In [31]:
# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
db.close()

## Some Data Filtering Operation

In [32]:
## Connecting to a Database
db = sqlite3.connect("company_database2.db")
c=db.cursor()

In [33]:
'''
Showing data for salary greater than 100000
'''
data=c.execute("select * from company1 where Salary >100000")
for x in data:
    print(x)

(3, 'Venkat', 42, 'Chennai', 400000.0)
(4, 'Raju', 31, 'Madurai', 400000.0)
(5, 'Ankit', 25, 'Bangalore', 800000.0)
(6, 'Ravi', 25, 'Bangalore', 800000.0)
(7, 'Shivam', 25, 'Bangalore', 800000.0)

In [35]:
'''
Showing name from data where place is Bangalore
'''
data=c.execute("select Name from company1 where Address = 'Bangalore'")
for x in data:
    print(x)

('Jhon',)
('Jhon',)
('Ankit',)
('Ravi',)
('Shivam',)

In [37]:
'''
Showing ID and Name from data as per accending order of Age
'''
data=c.execute("select ID, Name from company1 order by Age")
for x in data:
    print(x)

(5, 'Ankit')
(6, 'Ravi')
(7, 'Shivam')
(4, 'Raju')
(1, 'Jhon')
(2, 'Jhon')
(3, 'Venkat')

In [38]:
'''
Showing ID, Name and Age from data as per deccending order of Age
'''
data=c.execute("select ID, Name, Age from company1 order by Age desc")
for x in data:
    print(x)

(3, 'Venkat', 42)
(1, 'Jhon', 32)
(2, 'Jhon', 32)
(4, 'Raju', 31)
(5, 'Ankit', 25)
(6, 'Ravi', 25)
(7, 'Shivam', 25)

## Table Drop

In [47]:
# importing sqlite
import sqlite3

#connecting with the database.
db = sqlite3.connect("food_database1.db")
c = db.cursor()

# Create table to store food name and their colories
c.execute('CREATE TABLE food2(Name text, Calories int)') 

# Insert a row of data
c.execute("INSERT INTO food2 VALUES ('Mango', 60)")
c.execute("INSERT INTO food2 VALUES ('Samosa',262)")

In [48]:
data=c.execute("SELECT * FROM food2")
for i in data:
    print(i)

('Mango', 60)
('Samosa', 262)

In [49]:
## Its recommended to use this DROP command
c.execute("DROP table IF EXISTS food2")

In [50]:
## Checking its deleted or not
c.execute("DROP table food2")

OperationalError: no such table: food2