In [87]:
!python -m pip install pymongo

Requirement already satisfied: pymongo in c:\programdata\anaconda3\lib\site-packages (3.11.3)

In [1]:
import pymongo

In [3]:
DEFAULT_CONNECTION_URL ="mongodb://localhost:27017/"
DB_NAME = "Prakhar1"

# Establish a connection with mongoDB
client = pymongo.MongoClient(DEFAULT_CONNECTION_URL)

# Create a DB
dataBase = client[DB_NAME]
dataBase

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'Prakhar1')

In [4]:
DEFAULT_CONNECTION_URL = "mongodb://localhost:27017/"
DB_NAME = "Prakhar1"

# Establish a connection with mongoDB
client = pymongo.MongoClient(DEFAULT_CONNECTION_URL)
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [5]:
# lets see what the existing list of DBs -

client.list_database_names()

['Prakhar', 'admin', 'config', 'local']

In [6]:
# let's verify whether we have our database in the list or not 

def checkExistence_DB(DB_NAME, client):
    """It verifies the existence of DB"""
    DBlist = client.list_database_names()
    if DB_NAME in DBlist:
        print(f"DB: '{DB_NAME}' exists")
        return True
    print(f"DB: '{DB_NAME}' not yet present OR no collection is present in the DB")
    return False


_ = checkExistence_DB(DB_NAME=DB_NAME, client=client)

DB: 'Prakhar1' not yet present OR no collection is present in the DB

## Create a collection

In [7]:
COLLECTION_NAME = "PKJ_PRODUCT"
collection = dataBase[COLLECTION_NAME]
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'Prakhar1'), 'PKJ_PRODUCT')

In [8]:
dataBase

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'Prakhar1')

In [9]:
dataBase.list_collection_names()

[]

In [10]:
# let's verify whether we have our database in the list or not 
# we'll use the following function:-

def checkExistence_COL(COLLECTION_NAME, DB_NAME, db):
    """It verifies the existence of collection name in a database"""
    collection_list = db.list_collection_names()
    
    if COLLECTION_NAME in collection_list:
        print(f"Collection:'{COLLECTION_NAME}' in Database:'{DB_NAME}' exists")
        return True
    
    print(f"Collection:'{COLLECTION_NAME}' in Database:'{DB_NAME}' does not exists OR \n\
    no documents are present in the collection")
    return False


_ = checkExistence_COL(COLLECTION_NAME=COLLECTION_NAME, DB_NAME=DB_NAME, db=dataBase)

Collection:'PKJ_PRODUCT' in Database:'Prakhar1' does not exists OR
    no documents are present in the collection

## Insert a record in the collection

In [11]:
record = {'companyName': 'Prakhar',
         'product': 'PKJ product',
         'courseOffered': 'Deep Learning'}

collection.insert_one(record)

In [12]:
record = {'companyName': 'XYZ',
         'product': 'ABC',
         'courseOffered': 'ML'}

collection.insert_one(record)

In [13]:
record = {'companyName': 'bjjk',
         'product': 'hjkh',
         }                     # we can give 2 things or 3 things based on requirement , but in SQL we have to give all 
                               # records at a time to insert a row in table

collection.insert_one(record)

In [14]:
record = {'XYZ': 'hghjgkj',
         'product': 'Affordable AI',
         }                #u can't change schema in SQL table

collection.insert_one(record)

In [15]:
_ = checkExistence_COL(COLLECTION_NAME=COLLECTION_NAME, DB_NAME=DB_NAME, db=dataBase)

Collection:'PKJ_PRODUCT' in Database:'Prakhar1' exists

In [16]:
# Verify DATABASE
_ = checkExistence_DB(DB_NAME=DB_NAME, client=client)

DB: 'Prakhar1' exists

In [17]:
# Verify COLLECTION
_ = checkExistence_COL(COLLECTION_NAME=COLLECTION_NAME, DB_NAME=DB_NAME, db=dataBase)

Collection:'PKJ_PRODUCT' in Database:'Prakhar1' exists

## Insert multiple records

In [18]:
list_of_records = [
    {'companyName': 'Prakhar',
         'product': 'PKJ product',
         'courseOffered': 'Deep Learning'},
    
    {'companyName': 'Prakhar',
         'product': 'PKJ product',
         'courseOffered': 'Deep Learning'},
    
    {'companyName': 'Prakhar',
         'product': 'PKJ product',
         'courseOffered': 'Deep Learning'}
]

rec = collection.insert_many(list_of_records)

In [19]:
list_of_records = [
    {'companyName': 'Prakhar',
         'product': 'PKJ product',
         'courseOffered': 'Deep Learning'},
    
    {'companyName': 'Prakhar',
         'product': 'PKJ product',
         'courseOffered': 'Deep Learning'},
    
    {'companyName': 'Prakhar',
         'product': 'PKJ product',
         'courseOffered': 'Deep Learning'},
     {'companyName': 'XYZ',
         'product': 'ABC',
         'courseOffered': 'ML'}
]
rec = collection.insert_many(list_of_records)

In [20]:
# lets print he unique ID that of the record that we have inserted -
inserted_IDs = rec.inserted_ids

for idx, unique_ids in enumerate(inserted_IDs):
    print(f"{idx}. {unique_ids}")

0. 6025a0572461909b0fb85837
1. 6025a0572461909b0fb85838
2. 6025a0572461909b0fb85839
3. 6025a0572461909b0fb8583a

In [21]:
# Different collection in same dataBase
# Here we give our own id
#give id as "_id"


COLLECTION_NAME = "Prakhar's_Faculties"
faculties = dataBase[COLLECTION_NAME]

list_of_records_user_defined_id = [
    {"_id": "1",
    "companyName": "Prakhar",
    "Faculty": "Sudhanshu Kumar"},
    {"_id": "2",
    "companyName": "Prakhar",
    "Faculty": "Virat Sagar"},
]

faculties_record = faculties.insert_many(list_of_records_user_defined_id)

## Find method in MongoDB

In [22]:
find_first_record = faculties.find_one()

print(f"The first record of collection: \n{COLLECTION_NAME} is=\
\n{find_first_record}")

The first record of collection:
Prakhar's_Faculties is=
{'_id': '1', 'companyName': 'Prakhar', 'Faculty': 'Sudhanshu Kumar'}

In [23]:
# find all the record at once present in thr record with all the fields
all_record = faculties.find()

for idx, record in enumerate(all_record):
    print(f"{idx}: {record}")

0: {'_id': '1', 'companyName': 'Prakhar', 'Faculty': 'Sudhanshu Kumar'}
1: {'_id': '2', 'companyName': 'Prakhar', 'Faculty': 'Virat Sagar'}

In [24]:
all_record

In [25]:
# find all the record at once present in the record with SPECIFIC fields
all_record = faculties.find({}, {"Faculty"})

for idx, record in enumerate(all_record):
    print(f"{idx}: {record}")

0: {'_id': '1', 'Faculty': 'Sudhanshu Kumar'}
1: {'_id': '2', 'Faculty': 'Virat Sagar'}

## Query or filter out data in MongoDB

In [26]:
query1 = {"_id": '1'}

results = faculties.find(query1)
for data in results:
    print(data)

{'_id': '1', 'companyName': 'Prakhar', 'Faculty': 'Sudhanshu Kumar'}

In [27]:
query2 = {"_id": {"$gt": "1"}}     # $gt means is greater then

results = faculties.find(query2)
for data in results:
    print(data)

{'_id': '2', 'companyName': 'Prakhar', 'Faculty': 'Virat Sagar'}

## Delete one or many documents in MongoDB

In [28]:
# Lets add some random data in faculties
random_data = [
    {'_id': '3', 'companyName': 'Prakhar', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'Prakhar', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'Prakhar', 'Faculty': 'PQR'},
]

faculties.insert_many(random_data)

In [29]:
# Lets delete one document in faculties
query_to_delete = {"Faculty": "XYZ"}

faculties.delete_one(query_to_delete)

In [30]:
# lets delete multiple record
multi_query_to_delete = {"_id": {"$gte": "4"}}    # $gte means greater then equal to

faculties.delete_many(multi_query_to_delete)

## Drop the entire collection

In [31]:
faculties.drop()

In [33]:
# Lets verify if the collection exists or not after dropping it
COLLECTION_NAME = "Prakhar's_Faculties"
DB_NAME = "Prakhar1"
_ = checkExistence_COL(COLLECTION_NAME=COLLECTION_NAME, DB_NAME=DB_NAME, db=dataBase)

Collection:'Prakhar's_Faculties' in Database:'Prakhar1' does not exists OR
    no documents are present in the collection

# Update

In [36]:
COLLECTION_NAME = "PKJ_PRODUCT"

products = dataBase[COLLECTION_NAME]

all_record = products.find()

for idx, record in enumerate(all_record):
    print(f"{record}\n")

{'_id': ObjectId('60259feb2461909b0fb85830'), 'companyName': 'Prakhar', 'product': 'PKJ product', 'courseOffered': 'Deep Learning'}

{'_id': ObjectId('60259ffe2461909b0fb85831'), 'companyName': 'XYZ', 'product': 'ABC', 'courseOffered': 'ML'}

{'_id': ObjectId('60259fff2461909b0fb85832'), 'companyName': 'bjjk', 'product': 'hjkh'}

{'_id': ObjectId('6025a0042461909b0fb85833'), 'XYZ': 'hghjgkj', 'product': 'Affordable AI'}

{'_id': ObjectId('6025a04d2461909b0fb85834'), 'companyName': 'Prakhar', 'product': 'PKJ product', 'courseOffered': 'Deep Learning'}

{'_id': ObjectId('6025a04d2461909b0fb85835'), 'companyName': 'Prakhar', 'product': 'PKJ product', 'courseOffered': 'Deep Learning'}

{'_id': ObjectId('6025a04d2461909b0fb85836'), 'companyName': 'Prakhar', 'product': 'PKJ product', 'courseOffered': 'Deep Learning'}

{'_id': ObjectId('6025a0572461909b0fb85837'), 'companyName': 'Prakhar', 'product': 'PKJ product', 'courseOffered': 'Deep Learning'}

{'_id': ObjectId('6025a0572461909b0fb85838'), 'companyName': 'Prakhar', 'product': 'PKJ product', 'courseOffered': 'Deep Learning'}

{'_id': ObjectId('6025a0572461909b0fb85839'), 'companyName': 'Prakhar', 'product': 'PKJ product', 'courseOffered': 'Deep Learning'}

{'_id': ObjectId('6025a0572461909b0fb8583a'), 'companyName': 'XYZ', 'product': 'ABC', 'courseOffered': 'ML'}

In [37]:
present_data = {'courseOffered': 'Deep Learning'}
new_data = {"$set":{'courseOffered': 'ML and DL'}}

In [38]:
products.update_one(present_data, new_data)

In [39]:
all_record = products.find()

for idx, record in enumerate(all_record):
    print(f"{record}\n")

{'_id': ObjectId('60259feb2461909b0fb85830'), 'companyName': 'Prakhar', 'product': 'PKJ product', 'courseOffered': 'ML and DL'}

{'_id': ObjectId('60259ffe2461909b0fb85831'), 'companyName': 'XYZ', 'product': 'ABC', 'courseOffered': 'ML'}

{'_id': ObjectId('60259fff2461909b0fb85832'), 'companyName': 'bjjk', 'product': 'hjkh'}

{'_id': ObjectId('6025a0042461909b0fb85833'), 'XYZ': 'hghjgkj', 'product': 'Affordable AI'}

{'_id': ObjectId('6025a04d2461909b0fb85834'), 'companyName': 'Prakhar', 'product': 'PKJ product', 'courseOffered': 'Deep Learning'}

{'_id': ObjectId('6025a04d2461909b0fb85835'), 'companyName': 'Prakhar', 'product': 'PKJ product', 'courseOffered': 'Deep Learning'}

{'_id': ObjectId('6025a04d2461909b0fb85836'), 'companyName': 'Prakhar', 'product': 'PKJ product', 'courseOffered': 'Deep Learning'}

{'_id': ObjectId('6025a0572461909b0fb85837'), 'companyName': 'Prakhar', 'product': 'PKJ product', 'courseOffered': 'Deep Learning'}

{'_id': ObjectId('6025a0572461909b0fb85838'), 'companyName': 'Prakhar', 'product': 'PKJ product', 'courseOffered': 'Deep Learning'}

{'_id': ObjectId('6025a0572461909b0fb85839'), 'companyName': 'Prakhar', 'product': 'PKJ product', 'courseOffered': 'Deep Learning'}

{'_id': ObjectId('6025a0572461909b0fb8583a'), 'companyName': 'XYZ', 'product': 'ABC', 'courseOffered': 'ML'}

In [40]:
present_data = {'companyName': 'Prakhar'}
new_data = {"$set": {'companyName': 'Parv'}}

In [41]:
products.update_many(present_data, new_data)

all_record = products.find()

for idx, record in enumerate(all_record):
    print(f"{record}\n")

{'_id': ObjectId('60259feb2461909b0fb85830'), 'companyName': 'Parv', 'product': 'PKJ product', 'courseOffered': 'ML and DL'}

{'_id': ObjectId('60259ffe2461909b0fb85831'), 'companyName': 'XYZ', 'product': 'ABC', 'courseOffered': 'ML'}

{'_id': ObjectId('60259fff2461909b0fb85832'), 'companyName': 'bjjk', 'product': 'hjkh'}

{'_id': ObjectId('6025a0042461909b0fb85833'), 'XYZ': 'hghjgkj', 'product': 'Affordable AI'}

{'_id': ObjectId('6025a04d2461909b0fb85834'), 'companyName': 'Parv', 'product': 'PKJ product', 'courseOffered': 'Deep Learning'}

{'_id': ObjectId('6025a04d2461909b0fb85835'), 'companyName': 'Parv', 'product': 'PKJ product', 'courseOffered': 'Deep Learning'}

{'_id': ObjectId('6025a04d2461909b0fb85836'), 'companyName': 'Parv', 'product': 'PKJ product', 'courseOffered': 'Deep Learning'}

{'_id': ObjectId('6025a0572461909b0fb85837'), 'companyName': 'Parv', 'product': 'PKJ product', 'courseOffered': 'Deep Learning'}

{'_id': ObjectId('6025a0572461909b0fb85838'), 'companyName': 'Parv', 'product': 'PKJ product', 'courseOffered': 'Deep Learning'}

{'_id': ObjectId('6025a0572461909b0fb85839'), 'companyName': 'Parv', 'product': 'PKJ product', 'courseOffered': 'Deep Learning'}

{'_id': ObjectId('6025a0572461909b0fb8583a'), 'companyName': 'XYZ', 'product': 'ABC', 'courseOffered': 'ML'}

## Set limit to view N records

In [42]:
N_records = 3

N_record = products.find().limit(N_records)

for idx, record in enumerate(N_record):
    print(f"{record}\n")

{'_id': ObjectId('60259feb2461909b0fb85830'), 'companyName': 'Parv', 'product': 'PKJ product', 'courseOffered': 'ML and DL'}

{'_id': ObjectId('60259ffe2461909b0fb85831'), 'companyName': 'XYZ', 'product': 'ABC', 'courseOffered': 'ML'}

{'_id': ObjectId('60259fff2461909b0fb85832'), 'companyName': 'bjjk', 'product': 'hjkh'}

# ATLAS [Mongodb]

In [57]:
pip install pymongo[srv]

Requirement already satisfied: pymongo[srv] in c:\programdata\anaconda3\lib\site-packages (3.11.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: dnspython<2.0.0,>=1.16.0; extra == "srv" in c:\programdata\anaconda3\lib\site-packages (from pymongo[srv]) (1.16.0)

In [43]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://Prakh:prakhar@cluster0.boltw.mongodb.net/<test>?retryWrites=true&w=majority")
db=client.test

In [44]:
import pymongo

USR = "Prakh" 

PWD = "*****" 

DB_NAME = "test" # Specifiy a Database Name

# Connection URL
CONNECTION_URL = f"mongodb+srv://Prakh:*****@cluster0.boltw.mongodb.net/<test>?retryWrites=true&w=majority"

# Establish a connection with mongoDB
client = pymongo.MongoClient(CONNECTION_URL)

# Create a DB
dataBase = client[DB_NAME]

# Create a Collection Name
COLLECTION_NAME = "ABC_Products"
collection = dataBase[COLLECTION_NAME]

# Create a List of Records
list_of_records = [
    {'companyName': 'XYZ',
     'product': ' AI',
     'courseOffered': 'Machine Learning'},
    
    {'companyName': 'XYZ',
     'product': ' AI',
     'courseOffered': 'Deep Learning'},
    
    {'companyName': 'XYZ',
     'product': 'Master Program',
     'courseOffered': 'Data Science'}
]

# insert above records in the collection
rec = collection.insert_many(list_of_records)

# Lets Verify all the record at once present in the record with all the fields
all_record = collection.find()

for idx, record in enumerate(all_record):
    print(f"{idx}: {record}")

0: {'_id': ObjectId('60259e612461909b0fb8582b'), 'companyName': 'XYZ', 'product': ' AI', 'courseOffered': 'Machine Learning'}
1: {'_id': ObjectId('60259e612461909b0fb8582c'), 'companyName': 'XYZ', 'product': ' AI', 'courseOffered': 'Deep Learning'}
2: {'_id': ObjectId('60259e612461909b0fb8582d'), 'companyName': 'XYZ', 'product': 'Master Program', 'courseOffered': 'Data Science'}
3: {'_id': ObjectId('6025a1932461909b0fb8583d'), 'companyName': 'XYZ', 'product': ' AI', 'courseOffered': 'Machine Learning'}
4: {'_id': ObjectId('6025a1932461909b0fb8583e'), 'companyName': 'XYZ', 'product': ' AI', 'courseOffered': 'Deep Learning'}
5: {'_id': ObjectId('6025a1932461909b0fb8583f'), 'companyName': 'XYZ', 'product': 'Master Program', 'courseOffered': 'Data Science'}